/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



#product-info-container {
    * {
        box-sizing: border-box;
    }
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 13px;
    line-height: normal;

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
        float: left;
        padding: 15px;
    }

    .main-container {
        width: 100%;
    }

    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
    }

    h1 {
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .product-directory-bar {
        width: 100%;
        display: flex;
        margin: 0px;
    }
    
    .product-directory {
        width: 83.33%;
        float: left;
        text-align: left;
        margin-left: 0px;
        padding-bottom: 16px;
    }
    
    .product-links {
        width: 16.66%;
        float: right;
        padding: 0px 15px;
    }
}
























