#product-info-container {
  .product-info-column-two {
    float: right;
    width: 33.33%;
    text-align: left;
    padding: 0px 20px;
  }

  .product-info-price-match-guarantee {
  }

  .product-info-price-logo {
  }

  .product-info-price-match-guarantee-span {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    font-weight: 700;
    color: #0046be;
    font-size: 11px;
    padding-right: 14.9px;
  }

  .product-info-price {
    font-size: 30px;
    line-height: 35px;
    font-family: "Human BBY Web", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
  }

  .product-info-open-box-option {
    margin-top: 8px;
  }

  .product-info-open-box-label {
    font-family: "Human BBY Web", Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-style: normal;
    font-stretch: normal;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    color: #1d252c;
  }

  .product-info-variations-header {
    font-weight: 800;
    margin-bottom: 0;
    vertical-align: middle;
    color: black;
    font-size: inherit;
    font-size: 15px;
    padding-bottom: 7px;
  }

  .product-info-variations-drop-down {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.7em 23.5em 0.7em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }
  .product-info-variations-drop-down::-ms-expand {
    flex-direction: column;
  }
  .product-info-variations-drop-down:hover {
    border-color: #888;
  }
  .product-info-variations-drop-down:focus {
    border-color: #c5cbd5;
    border-style: solid;
    border-width: 1px 2px;
    outline-offset: -4px !important;
  }
  .product-info-variations-drop-down option {
    font-weight: normal;
  }

  .product-info-variations-header-two-b {
    font-weight: 800;
    margin-bottom: 0;
    vertical-align: middle;
    color: #d45500;
    font-size: inherit;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .product-info-variations-header-two-c {
    font-weight: 800;
    margin-bottom: 0;
    vertical-align: middle;
    color: #308800;
    font-size: inherit;
    font-size: 15px;
  }

  .product-info-open-box-price {
    font-family: "Human BBY Web", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    white-space: nowrap;
    font-size: 13px;
    line-height: 17px;
    color: #0046be;
  }

  .product-info-variations {
    padding-top: 4px;
    margin-top: 24px;
    border-top: 1px solid #c5cbd5;
  }

  .product-info-fulfillment {
    padding-top: 24px;
    margin-top: 24px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #c5cbd5;
  }

  .product-info-cart {
    padding-top: 24px;
    margin-top: 24px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #c5cbd5;
  }

  .product-info-fulfillment-option-one {
    display: block;
    color: rgb(48, 136, 0);
    font-weight: 700;
  }

  .product-info-fulfillment-option-two {
    padding-top: 5px;
  }

  .product-info-fulfillment-option-three {
    padding-top: 5px;
  }

  .product-info-cart-button {
    border: 0;
    font-size: 15px;
    padding: 0 8px;
    height: 45px;
    line-height: normal;
    width: 100%;
    color: #040c13 !important;
    background-color: #ffe000;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    display: flex;
    cursor: pointer;
  }

  .product-info-cart-button-text {
    padding-top: 12.5px;
    padding-left: 165px;
  }

  .product-info-cart-button:hover {
    background-color: #fff200;
  }

  @keyframes cart {
    0% {padding-left: 0px; margin-top: 0px;}
    5% {margin-top: 4px;}
    10% {margin-top: 0px;}
    15% {margin-top: 3px;}
    20% {margin-top: 2px;}
    25% {margin-top: 4px;}
    30% {margin-top: 0px;}
    35% {margin-top: 3px;}
    40% {margin-top: 0px;}
    45% {margin-top: 4px;}
    50% {padding-left: 25px; margin-top: 2px;}
    55% {margin-top: 4px;}
    60% {margin-top: 0px;}
    70% {margin-top: 3px;}
    75% {margin-top: 0px;}
    80% {margin-top: 4px;}
    85% {margin-top: 2px;}
    90% {margin-top: 3px;}
    95% {margin-top: 0px;}
    100% {padding-left: 0px; margin-top: 4px;}
  }

  @keyframes cartGo {
    0% {padding-left: 25px; margin-top: 0px;}
    5% {margin-top: 4px;}
    10% {margin-top: 0px;}
    15% {margin-top: 3px;}
    20% {margin-top: 2px;}
    25% {margin-top: 4px;}
    30% {margin-top: 0px;}
    35% {margin-top: 3px;}
    40% {margin-top: 0px;}
    45% {margin-top: 4px;}
    50% {padding-left: 100px; margin-top: 2px;}
    55% {margin-top: 4px;}
    60% {margin-top: 0px;}
    70% {margin-top: 3px;}
    75% {margin-top: 0px;}
    80% {margin-top: 4px;}
    85% {margin-top: 2px;}
    90% {margin-top: 3px;}
    95% {margin-top: 0px;}
    100% {padding-left: 0px; margin-top: 4.5px;}
  }

  .product-info-cart-button:hover span{
    animation: cart 5s;
  }

  .product-info-cart-button:focus span{
    animation: cartGo 2.5s;
  }

  .product-info-wagon {
    padding-top: 8px !important;
    padding-left: 8px !important;
    padding-bottom: 2px !important;
    height: 35px;
    width: 35px;
  }

  .product-info-cart-aux {
    margin-left: -15px;
    margin-right: -18px;
    margin-top: 8px;
    display: flex;
  }

  .product-info-compare {
    width: 20%;
    padding: 0px 20px;
  }

  .product-info-save {
    padding-left: 40px;
  }

  .product-info-compare {
    // padding-right: 12px;
    border: none;
    margin: 0;
    padding: 0;
    display: inline;
    color: #0457c8;
    text-decoration: none;
    margin: 0px 0px 0px 15px;
    font-size: 13px;
    line-height: normal;
    font-family: "Human BBY Web", Arial, Helvetica, sans-serif;
  }

  .product-info-save-for-later-button {
    border: none;
    margin: 0;
    padding: 0;
    display: inline;
    color: #0457c8;
    text-decoration: none;
    font-size: 13px;
    line-height: normal;
    font-family: "Human BBY Web", Arial, Helvetica, sans-serif;
    padding-left: 5px;
  }

  .fas.fa-shopping-cart {
    color: black;
  }

  .product-info-compare-text {
    padding-left: 20px;
  }

  .product-info-compare {
    position: relative;
    height: 16px;
    width: 16px;
    margin-right: 30px;
  }

  .product-info-compare-checkbox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 4px;
    border-top: 1px solid #55555a;
    border-right: 1px solid #55555a;
    border-left: 1px solid #55555a;
    border-bottom: 2px solid #55555a;
    background-image: linear-gradient(
      135deg,
      #fff,
      #fff,
      50%,
      #e0e6ef 0,
      #e0e6ef
    );
  }
}
